/* effects */
.gradient-glass {
  @apply bg-gradient-to-b from-white/80 via-white/60 backdrop-blur-xs to-transparent;
}

.gradient-glass-dark {
  @apply bg-gradient-to-b from-black/80 via-black/60 backdrop-blur-xs to-black/40;
}

.separator {
  border: none;
  background-color: hsl(240 5% 84%);
}
.separator[data-orientation="horizontal"] {
  height: 1px;
  width: 100%;
}

.loading {
  @apply opacity-20;
}

.check {
  @apply border-8 border-amber-500;
}
