.title {
  @apply text-4xl text-white font-semibold;
}

.heading-2 {
  @apply text-3xl font-semibold;
}

.heading-3 {
  @apply text-2xl font-semibold;
}

.subTitle {
  @apply font-semibold text-gray-400;
}

.label {
  @apply text-gray-600 font-semibold;
}

.description {
  @apply text-gray-400;
}

.cuisine-label {
  @apply bg-amber-200 text-xl px-2;
}

.days {
  @apply text-sm bg-black text-white px-2;
}

.error-text {
  @apply text-red-500 mb-2;
}

@font-face {
  font-family: "Merienda";
  src: url("/fonts/merienda-v22-latin_latin-ext_vietnamese-regular.woff2")
    format("woff2");
  font-weight: 400 700; /* variable font range */
  font-style: normal;
  font-display: swap;
}
