@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Playwrite+NZ:wght@100..400&display=swap");

@import "./styles/utilities.css";
@import "./styles/fonts.css";
@import "./styles/fields.css";
@import "./styles/effects.css";

/* components */
@import "./styles/Card/card.css";
@import "./styles/DishCard/dishCard.css";
@import "./styles/DishModal/dishModal.css";
@import "./styles/CustomTooltip/customTooltip.css";
@import "./styles/Modal/modal.css";
@import "./styles/Toast/toast.css";
@import "./styles/AccountMenu/accountMenu.css";
@import "./styles/SideMenu/sideMenu.css";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  /* Apply Poppins globally */
  html {
    font-family:
      "Merienda",
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont;
  }

  /* disable autofull styling */

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px theme("colors.gray.800") inset !important;
    -webkit-text-fill-color: theme("colors.gray.100") !important;
    caret-color: theme("colors.gray.100") !important;
  }
}

/*custom css variables  */

:root {
  --card-w: 500px;
  --card-h: 450px;
  --card-details-max-w: 300px;

  --dish-card-max-w: 1000px;
  --dish-card-h: 200px;

  --modal-w: 500px;
  --modal-h: 200px;

  --toast-w: 500px;
  --toast-h: 70px;

  --account-menu-min-w: 200px;

  --selection-col: gray-800;
}

.button {
  background-color: blue;
}

/* utilities */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hiding all scrollbars */

/* Hide scrollbars globally */
html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Hide scrollbars on any scrollable element */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* Or target specific elements */
.scroll-container {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
