@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import "./styles/utilities.css";
@import "./styles/fonts.css";
@import "./styles/fields.css";
@import "./styles/effects.css";

/* components */
@import "./styles/Card/card.css";
@import "./styles/DishCard/dishCard.css";
@import "./styles/Modal/modal.css";
@import "./styles/Toast/toast.css";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  /* Apply Poppins globally */
  html {
    font-family:
      "Poppins",
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont;
  }
}

/*custom css variables  */

:root {
  --card-w: 500px;
  --card-h: 450px;
  --card-details-max-w: 300px;

  --dish-card-max-w: 1000px;
  --dish-card-h: 200px;

  --modal-w: 500px;
  --modal-h: 200px;

  --toast-w: 500px;
  --toast-h: 70px;

  --selection-col: gray-800;
}

/* utilities */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
